/* General Styles */

:root {
  --clr-background-600: #23252c;
  --clr-background-700: #1a1b21;
  --clr-background-800: #161619;

  --clr-accent-100: #f5f5f5;
  --clr-accent-200: #dcdcdc;
  --clr-accent-300: #d1d5db;
  --clr-accent-400: #f3bf99;
  --clr-accent-500: #918e9b;
  --clr-accent-600: #5093e2;
  --clr-accent-700: #374151;
  --clr-accent-800: #1e1f26;

  --clr-neutral-100: #fff;
  --clr-neutral-900: #000;

  --ff-primary: "Inter", sans-serif;

  --fs-heading-title: 2rem;
  --fs-heading-subtitle: 1rem;
  --fs-portfolio-link: 0.8rem;
  --fs-button: 0.9rem;
  --fs-about-interests-heading: 1.25rem;
  --fs-about-interests-text: 0.9rem;

  --lh-heading-title: 1.8rem;
  --lh-heading-subtitle: 1.33rem;
  --lh-portfolio-link: 1rem;
  --lh-button: 1.625rem;
  --lh-about-interests-heading: 1.8rem;
  --lh-about-interests-text: 1.1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--ff-primary);
  font-size: 100%;
}

body {
  margin: 0;
  background: var(--clr-background-600);
}

svg {
  display: block;
  height: 1.75em;
  width: 1.75em;
  fill: var(--clr-accent-500);
  transition: 0.4s;
}

/* Header Styles */

.heading--container {
  background: var(--clr-background-700);
  width: 70%;
  margin: 0 auto;
  margin-top: 4.3em;
  text-align: center;
}

.heading--container > a {
  text-decoration: none;
  cursor: pointer;
}

.heading--profile_photo {
  display: inline-block;
  max-width: 100%;
  margin: 0 auto;
}

.heading--container,
.heading--profile_photo {
  border-radius: 0.625em 0.625em 0 0;
}

.heading--title {
  color: var(--clr-neutral-100);
  font-size: var(--fs-heading-title);
  line-height: var(--lh-heading-title);
  margin-top: 1em;
}

.heading--subtitle {
  color: var(--clr-accent-400);
  font-size: var(--fs-heading-subtitle);
  line-height: var(--lh-heading-subtitle);
  margin-top: -1.25em;
  margin-bottom: 1.125em;
}

.portfolio--link {
  color: var(--clr-accent-100);
  font-size: var(--fs-portfolio-link);
  line-height: var(--lh-portfolio-link);
  transition: 0.4s;
}

.portfolio--link:hover {
  color: var(--clr-accent-600);
}

/* Button styles */

.buttons--container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.8em;
}

.buttons--container > a > svg {
  height: 1.25em;
  width: 1.25em;
}

.button {
  text-decoration: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.375em;
  font-size: var(--fs-button);
  line-height: var(--lh-button);
  padding: 0.7em 0;
  margin: 0 0.7em;
  width: 36%;
  transition: 0.4s;
}

.button--light {
  background: var(--clr-neutral-100);
  color: var(--clr-accent-700);
}

.button--light > svg {
  background: none;
  fill: var(--clr-accent-800);
}

.button--dark {
  background: var(--clr-accent-600);
  color: var(--clr-neutral-100);
}

.button--dark > svg {
  background: var(--clr-accent-600);
  fill: var(--clr-accent-100);
}

.button--light > svg,
.button--dark > svg {
  margin-right: 0.45em;
}

.button--light:hover {
  background-color: var(--clr-accent-300);
}

.button--dark:hover {
  background-color: var(--clr-accent-500);
}

/* About Styles & Interests Styles */

.about--container,
.interests--container {
  background: var(--clr-background-700);
  width: 70%;
  margin: 0 auto;
  padding: 1em 2.85em;
}

.about--heading,
.interests--heading {
  color: var(--clr-accent-100);
  font-size: var(--fs-about-interests-heading);
  line-height: var(--lh-about-interests-heading);
  margin-bottom: -0.5em;
}

.about--heading {
  padding-top: 0.5em;
}

.interests--heading {
  margin-top: -1em;
}

.about--text,
.interests--text {
  color: var(--clr-accent-200);
  font-size: var(--fs-about-interests-text);
  line-height: var(--lh-about-interests-text);
}

.interests--text {
  padding-bottom: 1.67em;
}

/* Footer Styles */

.footer--container {
  background: var(--clr-background-800);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.75em 1.75em;
  height: 4em;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 4.3em;
  border-radius: 0 0 0.625em 0.625em;
}

.footer--container > a > svg {
  margin: 0.25em;
}

.footer--container svg:hover {
  fill: var(--clr-accent-400);
}
