/* 4K (Widescreen) */
@media (min-width: 2000px) {
  :root {
    --fs-heading-title: 3.7rem;
    --fs-heading-subtitle: 2rem;
    --fs-portfolio-link: 1.5rem;
    --fs-button: 1.6rem;
    --fs-about-interests-heading: 2.25rem;
    --fs-about-interests-text: 1.75rem;

    --lh-heading-title: 3.5rem;
    --lh-heading-subtitle: 2.75rem;
    --lh-portfolio-link: 2.5rem;
    --lh-button: 3rem;
    --lh-about-interests-heading: 3rem;
    --lh-about-interests-text: 2.375rem;
  }

  svg {
    height: 4em;
    width: 4em;
  }

  .buttons--container {
    padding-top: 1.25em;
  }

  .button {
    width: 25%;
  }

  .about--container,
  .interests--container {
    padding: 1.5em 2.85em;
  }

  .footer--container {
    height: 8em;
  }
}

/* Laptop L */
@media (min-width: 1440px) and (max-width: 1999px) {
  :root {
    --fs-heading-title: 3rem;
    --fs-heading-subtitle: 1.5rem;
    --fs-portfolio-link: 1.15rem;
    --fs-button: 1.25rem;
    --fs-about-interests-heading: 1.75rem;
    --fs-about-interests-text: 1.25rem;

    --lh-heading-title: 2.5rem;
    --lh-heading-subtitle: 2rem;
    --lh-portfolio-link: 2rem;
    --lh-button: 2.375rem;
    --lh-about-interests-heading: 2.25rem;
    --lh-about-interests-text: 1.625rem;
  }

  svg {
    height: 2.75em;
    width: 2.75em;
  }

  .buttons--container {
    padding-top: 1em;
  }

  .button {
    width: 30%;
  }

  .footer--container {
    height: 6em;
  }
}

/* Laptop */
@media (min-width: 1024px) and (max-width: 1439px) {
  :root {
    --fs-heading-title: 2.5rem;
    --fs-heading-subtitle: 1.33rem;
    --fs-portfolio-link: 1.1rem;
    --fs-button: 1.15rem;
    --fs-about-interests-heading: 1.65rem;
    --fs-about-interests-text: 1.15rem;

    --lh-heading-title: 2.125rem;
    --lh-heading-subtitle: 1.75rem;
    --lh-portfolio-link: 1.875rem;
    --lh-button: 2.125rem;
    --lh-about-interests-heading: 2.125rem;
    --lh-about-interests-text: 1.5rem;
  }

  svg {
    height: 2.5em;
    width: 2.5em;
  }

  .buttons--container {
    padding-top: 0.9em;
  }

  .button {
    width: 35%;
  }

  .footer--container {
    height: 5em;
  }
}

/* Tablet */
@media (min-width: 550px) and (max-width: 1023px) {
  :root {
    --fs-heading-title: 2.25rem;
    --fs-heading-subtitle: 1.125rem;
    --fs-portfolio-link: 0.95rem;
    --fs-button: 1rem;
    --fs-about-interests-heading: 1.4rem;
    --fs-about-interests-text: 1rem;

    --lh-heading-title: 2rem;
    --lh-heading-subtitle: 1.5rem;
    --lh-portfolio-link: 1.5rem;
    --lh-button: 1.875rem;
    --lh-about-interests-heading: 2rem;
    --lh-about-interests-text: 1.33rem;
  }

  svg {
    height: 2em;
    width: 2em;
  }

  .footer--container {
    height: 4.5em;
  }
}

/* Mobile L, default styles in index.css */

/* Mobile M */
@media (min-width: 321px) and (max-width: 375px) {
  :root {
    --fs-heading-title: 1.85rem;
    --fs-heading-subtitle: 0.95rem;
    --fs-portfolio-link: 0.75rem;
    --fs-button: 0.8rem;
    --fs-about-interests-heading: 1.2rem;
    --fs-about-interests-text: 0.8rem;

    --lh-heading-title: 1.6rem;
    --lh-heading-subtitle: 1.15rem;
    --lh-portfolio-link: 1rem;
    --lh-button: 1.375rem;
    --lh-about-interests-heading: 1.6rem;
    --lh-about-interests-text: 1.05rem;
  }

  svg {
    height: 1.5em;
    width: 1.5em;
  }

  .buttons--container {
    padding-top: 0.7em;
  }

  .footer--container {
    height: 3.5em;
  }
}

/* Mobile S */
@media (max-width: 320px) {
  :root {
    --fs-heading-title: 1.6rem;
    --fs-heading-subtitle: 0.825rem;
    --fs-portfolio-link: 0.7rem;
    --fs-button: 0.75rem;
    --fs-about-interests-heading: 1rem;
    --fs-about-interests-text: 0.7rem;

    --lh-heading-title: 1.5rem;
    --lh-heading-subtitle: 0.9rem;
    --lh-portfolio-link: 0.9rem;
    --lh-button: 1.15rem;
    --lh-about-interests-heading: 1.33rem;
    --lh-about-interests-text: 0.9rem;
  }

  svg {
    height: 1.25em;
    width: 1.25em;
  }

  .buttons--container {
    padding-top: 0.6em;
  }

  .footer--container {
    height: 3em;
  }
}
